<div class="popup-template popup-template--discount">
  <button type="button" class="popup-close">&times;</button>
  <h2>Special Offer!</h2>
  <p>Get 10% off your first purchase</p>
  <form class="discount-form" action="/discount" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit" class="pop-button">Get Discount</button>
  </form>
</div>
