<div class="popup-template popup-template--newsletter">
  <button type="button" class="popup-close">&times;</button>
  <h2>Stay Updated!</h2>
  <p>Subscribe to our newsletter for exclusive updates</p>
  <form class="newsletter-form" action="/newsletter" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit" class="pop-button">Subscribe</button>
  </form>
</div>
